@model TaskWebProject.Models.Tasks.TaskViewModel

<style>
    .create-task-form div {
        margin-bottom: 10px;
    }

</style>


<h1>Task #@Model.Id</h1>
<form method="post" class="create-task-form">
    <fieldset>
        <div class="form-element">
            <label for="Subject">Subject</label>
            <input type="text" name="Subject" value="@Model.Subject" />
        </div>
        <div>
            <label for="ContractorId">Contractor</label>
            <select name="ContractorId">
                @{
                    foreach (var contractor in Model.Contractors)
                    {
                        if (Model.Contractor.Id == contractor.Id)
                        {
                            <option value="@contractor.Id" selected="selected"> @contractor.Name </option>
                        }
                        else
                        {
                            <option value="@contractor.Id"> @contractor.Name </option>
                        }
                    }
                }
            </select>
        </div>
        <div>
            <label for="Description">Description</label>
            <textarea cols="50" rows="10" name="Description">@Model.Description</textarea>
        </div>
        <div>
            <label>Save</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>